body {
    background-color: lightgray;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
    margin: 0;
  }

  h1 {
    color: #B86161;
    font-size: 50pt;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 5px double #497487;
  }

  h2 {
    color: #9D8585;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
  }

  h3{
    color: #497487;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
  }

  p{
    color: #000000;
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
  }
  .job-title {
    color: #999999;
    font-weight: bold;
  }

  a:link
  a:visited {
    color: #497487;
  }

  a:hover {
    text-decoration: none;
    color: #B86161;
  }

  ul {
    background-color: #eeeeee;
    border: 5px solid #497487;
    padding: 25px;
    
  }

  nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    top: 0;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav a {
    color: #497487;
    text-decoration: none;
    padding: .5em 1em;
  }

  @media screen and (max-width: 400px){
    .grid {
        display: grid;
        grid-template:
        "a" 1fr
        "b" 1fr
        "c" 1fr
        ;
        gap: 5px;
        width: 80%;
        margin: auto; 
    }
    body{
        background: #497487;
    }   
  }

  
  @media screen and (min-width: 1100px) and (max-width: 1900px) {
    .grid {
        display: grid;
        grid-template:
        "a" 2fr
        "b" 2fr
        "c" 2fr
        ;
        gap: 5px;
        width: 80%;
        margin: auto;
    }
    
  }